{{!-- This is the menu container - visible after a user clicks the menu button --}}
<nav class="nav">
    <ul>
        {{#foreach navigation}}
            <li class="nav-{{slug}}{{#if current}} nav-current{{/if}}"><a href="{{url absolute="true"}}" title="{{label}}">{{label}}</a></li>
        {{/foreach}}
        {{#if @labs.members}}
            <li><a href="/signin/" title="{{t "Sign in"}}">{{t "Sign in"}}</a></li>
            <li><a href="/signup/" title="{{t "Subscribe"}}">{{t "Subscribe"}}</a></li>
        {{/if}}
    </ul>
</nav>