<!DOCTYPE html>
<html ⚡>
<head>
    {{!-- Document Settings --}}
    <meta charset="utf-8">

    {{!-- Page Meta --}}
    <title>{{meta_title}}</title>

    {{!-- Mobile Meta --}}
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">

    {{!-- Brand icon --}}
    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

    {{amp_ghost_head}}

    {{!-- Styles'n'Scripts --}}
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,700" rel="stylesheet">
    <style amp-custom>

        /* ==========================================================================
           1. General
           ========================================================================== */

        ::selection {
            background: rgba(0, 0, 0, 0.2);
        }
        ::-moz-selection {
            background: rgba(0, 0, 0, 0.2);
        }

        ::-webkit-input-placeholder {
          color: rgba(255, 255, 255, 0.5);
        }
        ::-moz-placeholder {
          color: rgba(255, 255, 255, 0.5);
        }
        :-ms-input-placeholder {
          color: rgba(255, 255, 255, 0.5);
        }
        :-moz-placeholder {
          color: rgba(255, 255, 255, 0.5);
        }

        body{
            font-family: "sofia-pro", "Ubuntu", sans-serif;
            font-weight: 300;
            color: #000000;
            background: #fff;
            font-size: 16px;
        }

        h1, h2, h3, h4, h5, h6{
            font-weight: bold;
            line-height: 1.2;
            margin-bottom: 30px;
        }

        b, strong{
            font-weight: bold;
        }

        a{
            color: #000000;
            text-decoration: none;
            -webkit-transition: all 0.5s;
            transition: all 0.5s;
            -webkit-transition-timing-function: cubic-bezier(0.2,1,0.3,1);
            transition-timing-function: cubic-bezier(0.2,1,0.3,1);
        }

        a:hover{
            text-decoration: none;
            color: #667EEA;
        }

        p{
            line-height: 24px;
            font-size: 16px;
            margin-bottom: 30px;
        }

        code, kbd, pre, samp {
            font-family: monospace, monospace;
            font-size: 1em;
            color: #A0A8BD;
        }

        mark{
            background: rgba(160, 168, 189, 0.2);
        }

        pre code,
        .hljs{
            padding: 20px;
        }

        label.error{
            font-size: 12px;
            margin-top: 5px;
            color: #ea6666;
        }

        input, textarea{
            width: 100%;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857143;
            color: #fff;
            background-color: #000;
            background-image: none;
            background: #202226;
            border: 1px solid #a0a8bd;
            box-sizing: border-box;
            border-radius: 3px;
            height: 40px;
            display: block;
        }

        .content-inner ul, .content-inner ol {
            line-height: 28px;
            font-size: 18px;
            padding-left: 20px;
        }

        .btn{
            padding: 9px 19px;
            border-radius: 30px;
            box-shadow: none;
            outline: 0;
            line-height: normal;
            font-size: 14px;
            color: #fff;
            text-transform: uppercase;
            font-weight: bold;
            position: relative;
            background: transparent;
            border: 1px solid #a0a8be;
            color: #a0a8bd;
            outline: 0;
        }

        .btn.focus, .btn:focus{
            box-shadow: none;
        }
        .intro{
            position: relative;
            z-index: 110;
            overflow: hidden;
            margin: 0 auto 50px auto;
        }
        .intro .swiper-slide .bg img{
            top: 50%;
            left: 50%;
            transform: translate3d(-50%, -50%, 0);
        }
        .intro .swiper-slide{
            background: #000;
            display: flex;
            position: relative;
            padding: 50px 0;
            align-items: center;
            height: auto;
        }

        .intro .swiper-slide .post{
            width: 100%;
        }

        .intro .swiper-slide .bg{
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            width: 100%;
            position: absolute;
            top: 0;
            width: 1366px;
            height: 768px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 1;
        }

        .intro .swiper-slide .bg:before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            background: linear-gradient(180deg, #000000 0%, rgba(51, 51, 51, 0.1) 75%);
        }

        .intro .swiper-slide .inner{
            position: relative;
            z-index: 2;
            color: #fff;
            display: flex;
            height: 100%;
            width: 100%;
            align-items: center;
        }

        .intro .swiper-slide .inner .post-title{
            font-weight: bold;
            font-size: 42px;
            margin-bottom: 10px;
            margin-top: 10px;
        }

        .intro .swiper-pagination{
            bottom: auto;
            left: auto;
            right: calc((100% - 1140px)/2 + 15px);
            top: 50%;
            width: auto;
            display: flex;
            flex-direction: column;
            transform: translateY(-50%);
        }

        .intro .swiper-pagination .swiper-pagination-bullet{
            position: relative;
            display: block;
            width: 30px;
            height: 48px;
            margin: 5px 0;
            background: transparent;
            opacity: 1;
            -webkit-transition: all 0.5s;
            transition: all 0.5s;
            -webkit-transition-timing-function: cubic-bezier(0.2,1,0.3,1);
            transition-timing-function: cubic-bezier(0.2,1,0.3,1);
        }

        .intro .swiper-pagination .swiper-pagination-bullet i{
            position: absolute;
            top: 0;
            left: 0;
            width: 4px;
            height: 100%;
            border-radius: 0;
            overflow: hidden;
        }

        .intro .swiper-pagination .swiper-pagination-bullet b{
            color: #fff;
            position: absolute;
            top: -3px;
            right: 0;
            opacity: .2;
            -webkit-transition: all 0.5s;
            transition: all 0.5s;
            -webkit-transition-timing-function: cubic-bezier(0.2,1,0.3,1);
            transition-timing-function: cubic-bezier(0.2,1,0.3,1);
        }

        .intro .swiper-pagination .swiper-pagination-bullet:hover{
            background: transparent;
        }

        .intro .swiper-pagination .swiper-pagination-bullet:hover b{
            opacity: .4;
        }

        .intro .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active{
            background: transparent;
        }

        .intro .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active b{
            color: #667EEA;
            opacity: 1;
        }

        .intro .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active i{
            opacity: 1;
        }

        .intro .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active i:before{
            -webkit-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
        }

        .intro .swiper-pagination .swiper-pagination-bullet i:before,
        .intro .swiper-pagination .swiper-pagination-bullet i:after{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #667EEA;
            -webkit-transform: translate3d(0,100%,0);
            transform: translate3d(0,100%,0);
            -webkit-transition: all 0.5s;
            transition: all 0.5s;
            -webkit-transition-timing-function: cubic-bezier(0.2,1,0.3,1);
            transition-timing-function: cubic-bezier(0.2,1,0.3,1);
        }

        .intro .swiper-pagination .swiper-pagination-bullet i:after{
            background: #fff;
            opacity: .2;
            -webkit-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
        }

        .intro .swiper-pagination .swiper-pagination-bullet:hover i:after{
            opacity: .4;
        }

        .intro .swiper-pagination .swiper-pagination-bullet.next i:before{
            -webkit-animation: next 8.2s linear forwards;
            -moz-animation:    next 8.2s linear infinite;
            -o-animation:      next 8.2s linear infinite;
            animation:         next 8.2s linear forwards;
        }

        .intro .excerpt{
            margin-bottom: 20px;
        }

        .intro a{
            color: #fff;
        }

        .intro a:hover{
            color: #667EEA;
        }

        .intro .tags{
            margin: 0;
        }

        .intro .post-meta{
            color: #FFFFFF;
        }

        .intro .post-meta a{
            font-size: 14px;
        }

        .container {
            max-width: 720px;
            padding: 0 15px;
            margin: 0 auto;
        }

        .tags{
            list-style-type: none;
            margin: 0 0 15px 0;
            padding: 0;
            display: flex;
            flex-wrap: wrap;
        }

        .tags li a{
            margin-right: 10px;
            line-height: 20px;
            font-size: 12px;
            color: #A0A8BD;
            border: 1px solid transparent;
            background: rgba(160, 168, 189, 0.2);
            border-radius: 15px;
            padding: 3px 15px;
            font-weight: normal;
            display: block;
        }

        .tags li a:hover{
            background: transparent;
            border: 1px solid #667EEA;
            color: #667EEA;
        }

        .post-meta{
            line-height: 32px;
            font-size: 14px;
            display: flex;
            list-style-type: none;
            padding: 0;
            margin: 30px 0 0 0;
            font-weight: 500;
        }

        .post-meta li{
            margin-right: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .post-meta li i{
            margin-right: 10px;
        }

        .post-meta li.share{
            margin-left: auto;
            margin-right: 0;
        }

        .intro a{
            color: #fff;
        }

        .intro a:hover{
            color: #667EEA;
        }

        .intro .tags{
            margin: 0;
        }

        .intro .post-meta{
            color: #FFFFFF;
        }

        /* ==========================================================================
           2. Header
           ========================================================================== */

        header{
            position: relative;
            z-index: 9900;
            width: 100%;
            top: 0;
            left: 0;
            padding: 10px 0;
            background: #000;
            transform: translateY(0);
            -webkit-transition: all .3s cubic-bezier(0.2,1,0.3,1);
            -moz-transition: all .3s cubic-bezier(0.2,1,0.3,1);
            -o-transition: all .3s cubic-bezier(0.2,1,0.3,1);
            transition: all .3s cubic-bezier(0.2,1,0.3,1);
        }

        header a {
            color: #fff;
            font-weight: bold;
            font-size: 12px;
            text-transform: uppercase;
            line-height: 1.4;
        }

        /* ==========================================================================
           3. Footer
           ========================================================================== */

        footer{
            color: #fff;
            background: #212227;
            border-top: 1px solid rgba(0, 0, 0, 0.1);
            padding: 10px 0;
            margin-top: 50px;
        }

        footer .copyright{
            background: #202226;
        }

        footer .copyright p{
            margin: 0;
            font-size: 14px;
        }

        footer a{
            color: #fff;
        }

        footer a:hover{
            color: #667EEA;
        }

        /* ==========================================================================
           4. Responsive
           ========================================================================== */

        @media (max-width: 575px){
            .post-meta {
                flex-wrap: wrap;
            }
            .post-meta li {
                margin-right: 30px;
                width: auto;
            }
        }

    </style>

    {{!-- The AMP boilerplate --}}
    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
    <script async src="https://cdn.ampproject.org/v0.js"></script>

    {{amp_components}}

</head>

<body class="amp-template">
    {{#post}}
    <header>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="blog-logo">
                        <a href="{{@blog.url}}" title="{{@blog.title}}">
                            <span>{{@blog.title}}</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="intro">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <li class="swiper-slide">
                    <div class="bg">
                        {{#if feature_image}}
                        <amp-img src="{{img_url feature_image absolute="true"}}" width="1366px" height="768px"></amp-img>
                        {{/if}}
                    </div>
                    <div class="inner">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-9">
                                    {{#if tags}}
                                        <ul class="tags">
                                        {{#foreach tags}}
                                            <li>
                                                <a href="{{url}}" title="{{name}}" class="tag tag-{{id}} {{slug}}">{{name}}</a>
                                            </li>  
                                        {{/foreach}}
                                        </ul>
                                    {{/if}}
                                    <h1 class="post-title">{{title}}</h1>
                                    <p class="excerpt">{{excerpt words="28"}} ... <a class="read-more" href="{{url}}" title="{{title}}">read more</a></p>
                                    <ul class="post-meta">
                                        <li><time class="post-date" datetime="{{date format="YYYY-MM-DD"}}">{{date format="DD MMM YYYY"}}</time></li>
                                        <li><div class="post-author">{{author}}</div></li>
                                        <li><div class="post-reading-time">{{reading_time}}</div></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
            <a href="#" class="go"><i class="fas fa-angle-down"></i></a>
        </div>
    </div>

    <main id="content" class="container content-inner" role="main" data-id={{comment_id}}>
        <article class="{{post_class}} row">
            <section class="content-holder col-lg-8 col-sm-10 ml-auto mr-auto">

                <div class="post-content">
                    {{amp_content}}                    
                </div>

            </section>
        </article>
    </main>

    {{/post}}
    <footer class="site-footer clearfix">
        <div class="container copyright">
            <div class="row">
                <div class="col-md-12 text-center">
                    <p>&copy; {{date format="YYYY"}}, <a href="{{@blog.url}}">{{@blog.title}}</a>. All Right Reserved.</p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
