{{!-- The tag below means - insert everything in this file into the {body} of the default.hbs template --}}
{{!< default}}

{{^is "paged"}}
	{{#get "posts" include="tags, author" filter="featured:true" limit="5"}}
		{{#if posts}}
			<div class="intro">
				<div class="swiper-container">
					<div class="swiper-wrapper">
						{{#foreach posts}}
							<li class="swiper-slide">
								{{> "loop-featured"}}
							</li>
					    {{/foreach}}
					</div>
					<div class="swiper-pagination"></div>
					<a href="#" class="go"><i class="fas fa-angle-down"></i></a>
				</div>
			</div>
		{{else}}
		    <div class="intro">
		        <div class="swiper-container">
		            <div class="swiper-wrapper">
		                <li class="swiper-slide">
		                    <div class="bg" {{#if @blog.cover_image}}style="background-image: url({{@blog.cover_image}});"{{/if}}></div>
		                    <div class="inner">
		                        <div class="container">
		                            <div class="row">
		                                <div class="col-md-9">
		                                    <h1 class="post-title">{{@blog.title}}</h1>
		                                    <p class="excerpt">{{@blog.description}}</p>
		                                </div>
		                            </div>
		                        </div>
		                    </div>
		                </li>
		            </div>
		            <a href="#" class="go"><i class="fas fa-angle-down"></i></a>
		        </div>
		    </div>
		{{/if}}
	{{/get}}
{{/is}}

{{!-- The main content area --}}
<main id="content" class="container" role="main">
	<div class="row">
		<div class="col-lg-8 col-md-10 col-sm-12 ml-auto mr-auto loop">
			{{#foreach posts}}
    			{{> "loop"}}
    		{{/foreach}}
		</div>
    </div>
</main>
{{pagination}}