{{!-- The tag below means - insert everything in this file into the {body} of the default.hbs template --}}
{{!< default}}

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}
    <div class="intro">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <li class="swiper-slide">
                    <div class="bg" {{#if feature_image}}style="background-image: url({{img_url feature_image}});"{{/if}}></div>
                    <div class="inner">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-9">
                                    <h1 class="post-title"><a href="{{url}}" title="{{title}}">{{title}}</a></h1>
                                    <ul class="post-meta">
                                        <li><time class="post-date" datetime="{{date format="YYYY-MM-DD"}}"><i class="fas fa-calendar-alt"></i> {{date format="DD MMM YYYY"}}</time></li>
                                        <li><div class="post-reading-time"><i class="fas fa-clock"></i> {{reading_time}}</div></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
            <a href="#" class="go"><i class="fas fa-angle-down"></i></a>
        </div>
    </div>
    <main id="content" class="container content-inner" role="main" data-id={{comment_id}}>
        <article class="{{post_class}} row">
            <section class="content-holder col-lg-8 col-sm-10 ml-auto mr-auto">

                <div class="post-content">
                    {{content}}
                </div>

            </section>
        </article>
    </main>

{{/post}}
