{{!-- The tag below means - insert everything in this file into the {body} of the default.hbs template --}}
{{!< default}}

{{#tag}}
    {{#if feature_image}}
    <style type="text/css">
        .responsive-header-img-{{slug}} {
            background-image: url({{img_url feature_image size='l'}});
        }
        @media(max-width: 991px) {
            .responsive-header-img-{{slug}} {
                background-image: url({{img_url feature_image size='m'}});
                background-image: -webkit-image-set(
                    url({{img_url feature_image size='m'}}) 1x,
                    url({{img_url feature_image size='l'}}) 2x
                );
                background-image: image-set(
                    url({{img_url feature_image size='m'}}) 1x,
                    url({{img_url feature_image size='l'}}) 2x
                );
            }
        }
    </style>
    {{/if}}
    <div class="intro">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <li class="swiper-slide">
                    <div class="bg responsive-header-img-{{slug}}"></div>
                    <div class="inner">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-9">
                                    <h1 class="post-title">{{name}}</h1>
                                    <p class="excerpt">{{description}}</p>
                                    <ul class="post-meta">
                                     	<li>{{plural ../pagination.total empty=(t "A collection of posts") singular=(t "A collection of 1 post") plural=(t "A collection of % posts")}}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
            <a href="#" class="go"><i class="fas fa-angle-down"></i></a>
        </div>
    </div>
{{/tag}}

{{!-- The main content area --}}
<main id="content" class="container" role="main">
	<div class="row">
		<div class="col-lg-8 col-md-10 col-sm-12 ml-auto mr-auto loop">
			{{#foreach posts}}
    			{{> "loop"}}
    		{{/foreach}}
		</div>
    </div>
</main>
{{pagination}}