<!DOCTYPE html>
<html lang="{{@site.lang}}">
<head>

    {{> theme_head}}

    {{!-- Ghost outputs important style and meta data with this tag --}}
    {{ghost_head}}
    
</head>
<body class="subscribe">

    {{> theme_header}}

    <div class="main-container">
        <main id="content" role="main">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-sm-8 mr-auto ml-auto">
                        <article class="{{post_class}}">
                            <h1 class="post-title">
                                {{^if success}}
                                    {{t "Subscribe to {blogtitle}" blogtitle=@site.title}}
                                {{else}}
                                    {{t "Subscribed!"}}
                                {{/if}}
                            </h1>
                            <section class="post-content">
                                {{^if success}}
                                    {{subscribe_form
                                        form_class="gh-signin"
                                        input_class="gh-input"
                                        button_class="fas fa-angle-right"
                                        placeholder=(t "Your email address")
                                    }}
                                {{else}}
                                    <p>
                                        {{t "You've successfully subscribed to"}} <em>{{@site.title}}</em>
                                        {{t "with the email address"}} <em>{{email}}</em>.
                                    </p>
                                {{/if}}
                            </section>
                        </article>
                    </div>
                </div>
            </div>
        </main>
    </div>

    {{> theme_footer}}

    {{!-- Ghost Content API --}}
    <script type="text/javascript" src="https://unpkg.com/@tryghost/content-api@1.0.0/umd/content-api.min.js"></script>

    {{!-- 3rd party scripts --}}
    <script type="text/javascript" src="{{asset "js/libraries.js"}}"></script>
    
    {{!-- Remove this comment to make the date and form validation, in search, bookmarks and subscribe form, translatable.
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/locale/{{lang}}.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.0/localization/messages_{{lang}}.js"></script>
    --}}

    {{!-- The main JavaScript file for Joelma --}}
    {{#if pagination.pages}}
    <script>
        var maxPages = parseInt('{{pagination.pages}}');
    </script>
    {{/if}}
    <script type="text/javascript" src="{{asset "js/main.js"}}"></script>

    {{!-- Ghost outputs important scripts and data with this tag --}}
    {{ghost_foot}}
</body>
</html>
