{{!-- This is the post loop - each post will be output using this markup --}}
<article class="{{post_class}}">
    {{#if feature_image}}
        <a href="{{url}}" title="{{title}}" class="img-holder">
            <img src="{{img_url feature_image}}" alt="{{title}}">
        </a>
    {{/if}}
    <div class="inner">
        {{#if tags}}
            <ul class="tags">
            {{#foreach tags}}
                <li>
                    <a href="{{url}}" title="{{name}}" class="tag tag-{{id}} {{slug}}">{{name}}</a>
                </li>  
            {{/foreach}}
            </ul>
        {{/if}}
        <h2 class="post-title"><a href="{{url}}" title="{{title}}">{{title}}</a></h2>
        <p class="excerpt">{{excerpt words="28"}} ... <a class="read-more" href="{{url}}" title="{{title}}">read more</a></p>
        <ul class="post-meta">
            <li><time class="post-date" datetime="{{date format="YYYY-MM-DD"}}"><i class="fas fa-calendar-alt"></i> {{date format="DD MMM YYYY"}}</time></li>
            <li><div class="post-author"><i class="fas fa-user"></i> {{author}}</div></li>
            <li><div class="post-reading-time"><i class="fas fa-clock"></i> {{reading_time}}</div></li>
            <li class="share">
                <a href="#" class="trigger-share"><i class="fas fa-share-alt"></i></a>
                <ul>
                    <li><a href="https://twitter.com/share?text={{encode title}}&amp;url={{url absolute="true"}}" onclick="window.open(this.href, 'share-twitter', 'width=550,height=235');return false;" data-toggle="tooltip" data-placement="right" title="Share on Twitter"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}" onclick="window.open(this.href, 'share-facebook', 'width=580,height=296');return false;" data-toggle="tooltip" data-placement="right" title="Share on Facebook"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="https://plus.google.com/share?url={{url absolute="true"}}" onclick="window.open(this.href, 'share-google-plus', 'width=400,height=466');return false;" data-toggle="tooltip" data-placement="right" title="Share on Google+"><i class="fab fa-google-plus-g"></i></a></li>
                    <li><a href="https://www.reddit.com/submit?url={{url absolute="true"}}" target="_blank" data-toggle="tooltip" data-placement="right" title="Share on Reddit"><i class="fab fa-reddit-alien"></i></a></li>
                    <li><a href="mailto:?subject={{@blog.title}} - {{title}}&amp;body={{excerpt words="28"}} ... %0D%0A%0D%0A Read more: {{url absolute="true"}}" data-toggle="tooltip" data-placement="right" title="Share by email"><i class="fas fa-envelope"></i></a></li>
                </ul>
            </li>
        </ul>
        <a href="#" class="read-later" data-id="{{id}}"><i class="far fa-bookmark" data-toggle="tooltip" data-placement="right" title="Bookmark article"></i><i class="fas fa-bookmark" data-toggle="tooltip" data-placement="right" title="Remove bookmark"></i></a>
    </div>
</article>