<header>
    <div class="container">
        <div class="row">
            <div class="col-3 ml-auto">
                <div class="blog-logo">
                    <a href="{{@blog.url}}" title="{{@blog.title}}">
                        {{#if @blog.logo}} <img src="{{@blog.logo}}" alt="{{@blog.title}}" /> {{else}}<span>{{@blog.title}}</span>{{/if}} 
                    </a>
                </div>
            </div>
            <div class="col-9">
                <div class="inner">
                    <div class="navigation">
                        <a href="#" class="navigation-trigger">
                            <svg width="19" height="16" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><use xlink:href="#path0_fill" transform="translate(.344 .195)"/><defs><path id="path0_fill" d="M1.044 2.128h15.912c.577 0 1.044-.476 1.044-1.064C18 .477 17.533 0 16.956 0H1.044C.467 0 0 .477 0 1.064c0 .588.467 1.064 1.044 1.064zm15.912 4.387H1.044C.467 6.515 0 6.993 0 7.58c0 .589.467 1.064 1.044 1.064h15.912c.577 0 1.044-.475 1.044-1.064 0-.586-.467-1.064-1.044-1.064zm0 6.515H1.044C.467 13.03 0 13.508 0 14.094c0 .589.467 1.064 1.044 1.064h15.912c.577 0 1.044-.476 1.044-1.064 0-.586-.467-1.064-1.044-1.064z"/></defs></svg>
                        </a>
                        <div class="navigation-popover">
                            <a href="#" class="close"></a>
                            {{navigation}}
                        </div>
                    </div>
                    <div class="search">
                        <a href="#" class="search-trigger"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 56.966 56.966"><path d="M55.146 51.887L41.588 37.786A22.926 22.926 0 0 0 46.984 23c0-12.682-10.318-23-23-23s-23 10.318-23 23 10.318 23 23 23c4.761 0 9.298-1.436 13.177-4.162l13.661 14.208c.571.593 1.339.92 2.162.92.779 0 1.518-.297 2.079-.837a3.004 3.004 0 0 0 .083-4.242zM23.984 6c9.374 0 17 7.626 17 17s-7.626 17-17 17-17-7.626-17-17 7.626-17 17-17z" fill="#fff"/></svg></a>
                        <div class="search-popover">
                            <a href="#" class="close"></a>
                            <form>
                                <input id="search-field" placeholder="Search" autocomplete="off"/>
                            </form>
                            <div id="results"></div>      
                        </div>
                    </div>
                    <div class="bookmark-content">
                        <a href="#" class="bookmark"><span class="counter hidden"></span><i class="far fa-bookmark"></i><i class="fas fa-bookmark"></i></a>
                        <div class="bookmark-popover">
                            <a href="#" class="close"></a>
                            <h3>Bookmarks</h3>
                            <div class="bookmark-container">
                                <p class="no-bookmarks">You haven't yet saved any bookmarks. To bookmark a post, just click <i class="far fa-bookmark"></i>.</p>
                            </div>
                        </div>
                    </div>
                    <div class="social-content">
                        <a href="#" class="social-trigger"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M397.19 0c-50.33 0-91.278 40.947-91.278 91.278 0 50.33 40.947 91.278 91.278 91.278s91.279-40.947 91.279-91.278C488.468 40.947 447.521 0 397.19 0zm0 141.191c-27.523 0-49.913-22.391-49.913-49.913s22.391-49.913 49.913-49.913c27.523 0 49.914 22.391 49.914 49.913s-22.391 49.913-49.914 49.913zM114.809 164.722c-50.33 0-91.278 40.947-91.278 91.278s40.947 91.278 91.278 91.278S206.087 306.33 206.087 256s-40.947-91.278-91.278-91.278zm0 141.191c-27.522 0-49.913-22.391-49.913-49.913s22.391-49.913 49.913-49.913 49.913 22.391 49.913 49.913c0 27.523-22.391 49.913-49.913 49.913zM397.19 329.445c-50.33 0-91.278 40.947-91.278 91.278S346.859 512 397.19 512s91.279-40.947 91.279-91.278c-.001-50.33-40.948-91.277-91.279-91.277zm0 141.191c-27.523 0-49.913-22.39-49.913-49.913 0-27.523 22.391-49.913 49.913-49.913 27.523 0 49.914 22.39 49.914 49.913 0 27.522-22.391 49.913-49.914 49.913z" fill="#fff"/><path d="M346.891 367.32l-160.722-93.656c-9.869-5.751-22.532-2.412-28.282 7.457-5.752 9.87-2.413 22.532 7.457 28.283l160.721 93.656a20.591 20.591 0 0 0 10.393 2.816c7.118 0 14.047-3.68 17.89-10.272 5.751-9.87 2.412-22.532-7.457-28.284zM354.105 116.386c-5.757-9.865-18.422-13.194-28.287-7.438l-160.487 93.656c-9.865 5.758-13.195 18.422-7.438 28.288 3.845 6.588 10.768 10.261 17.882 10.261 3.539 0 7.128-.91 10.405-2.823l160.486-93.656c9.867-5.758 13.197-18.423 7.439-28.288z" fill="#fff"/></svg></a>
                        <div class="social-popover" data-twitter="{{@blog.twitter}}">
                            <a href="#" class="close"></a>
                            <h3>Connect with us</h3>
                            <div class="social-container">
                                <ul class="social-icons">
                                    {{#if @blog.facebook}}
                                        <li><a href="{{facebook_url}}" class="facebook" title="{{@blog.facebook}}" target="_blank"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                                    {{/if}}
                                    {{#if @blog.twitter}}
                                        <li><a href="{{twitter_url}}" class="twitter" title="{{@blog.twitter}}" target="_blank"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                                    {{/if}}
                                    <li><a href="https://www.youtube.com/" class="youtube" title="Youtube" target="_blank"><i class="fab fa-youtube" aria-hidden="true"></i></a></li>
                                    <li><a href="https://www.instagram.com/" class="instagram" title="Instagram" target="_blank"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                                    <li><a href="https://plus.google.com" class="google-plus" title="Google+" target="_blank"><i class="fab fa-google-plus-g"></i></a></li>
                                    <li><a href="{{@blog.url}}/rss" target="_blank"><i class="fas fa-rss" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <span class="nav-trigger"><i></i></span>
                </div>
            </div>
        </div>
    </div>
</header>