{{!-- The tag below means - insert everything in this file into the {body} of the default.hbs template --}}
{{!< ../default}}


    {{#if @member.paid}}

        {{!-- Logged in, paying member: Redirect home --}}
        <script>window.location = '/';</script>

    {{else if @member}}

        <div class="intro intro-small">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <li class="swiper-slide">
                        <div class="bg"></div>
                        <div class="inner">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-9">
                                        <h1 class="post-title">{{t "Choose your subscription"}}</h1>
                                        <p>{{{t "Unlock full access to {title} and see the entire <br>library of members-only content & updates" title=@site.title}}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    {{!-- Logged in, not paying: Check out --}}
                    <div class="checkout-form text-center">
                        <div class="checkout-box row">
                            <div class="col-md-4 ml-auto">
                                <div class="checkout-plan">
                                    <h3>{{t "Monthly"}}</h3>
                                    <div class="pricing"><span>$</span><strong>{{@price.monthly}}</strong> / {{t "month"}}</div>
                                    <div class="checkout-plan-content">
                                        <ul>
                                            <li><i class="fas fa-check"></i>{{t "Full access to all private posts"}}</li>
                                            <li><i class="fas fa-check"></i>{{t "Regular updates with new content"}}</li>
                                            <li><i class="fas fa-check"></i>{{t "Support independent publishing"}}</li>
                                            <li><i class="fas fa-check"></i>{{t "Simple, secure card payment"}}</li>
                                        </ul>
                                        <a class="btn btn-blue" href="javascript:void(0)" data-members-plan="Monthly">{{t "Choose this plan"}}</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mr-auto">
                                <div class="checkout-plan">
                                    <h3>Yearly</h3>
                                    <div class="pricing"><span>$</span><strong>{{@price.yearly}}</strong> / {{t "year"}}</div>
                                    <div class="checkout-plan-content">
                                        <ul>
                                            <li><i class="fas fa-check"></i>{{t "Full access to all private posts"}}</li>
                                            <li><i class="fas fa-check"></i>{{t "Regular updates with new content"}}</li>
                                            <li><i class="fas fa-check"></i>{{t "Support independent publishing"}}</li>
                                            <li><i class="fas fa-check"></i>{{t "Simple, secure card payment"}}</li>
                                            <li><i class="fas fa-check"></i>{{t "One easy payment instead of 12!"}}</li>
                                        </ul>
                                        <a class="btn btn-blue" href="javascript:void(0)" data-members-plan="Yearly">{{t "Choose this plan"}}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {{else}}

        <div class="intro intro-small">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <li class="swiper-slide">
                        <div class="bg"></div>
                        <div class="inner">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-9">
                                       <h1 class="post-title">{{{t "Signup to {title}" title=@site.title}}}</h1>

                                        {{!-- Not logged in: Sign up --}}
                                        <form class="signup-form" data-members-form="signup">
                                            <div class="signup-box">
                                                <input data-members-email type="email" placeholder="{{t "Your email address"}}" required="true" autocomplete="false" />
                                                <button class="btn" type="submit">{{t "Submit"}}</button>
                                            </div>
                                            <p><small>{{{t "Already have an account? <a href='{url}'>Sign in</a>" url="/signin/"}}}</small></p>
                                            <div class="message-success">{{{t "<strong>Great!</strong> Check your inbox and click the link to confirm your subscription"}}}</div>
                                        </form>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </div>
            </div>
        </div>

    {{/if}}
